@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'open sans';
}

.mian-slider {
  background-color: #2d3141;
  padding: 40px 0px;
}

.slider-text h3 {
  color: #fff;
}

.flex-div {
  display: flex;
  flex-wrap: wrap;
}

.slide-box {
  width: 50%;
}

img {
  width: 100%;
  height: auto;
}

.img-box-back {
  width: 50%;
  opacity: 0.16;
  background-image: url('/images/slider-img-back.png');
  height: 100%;
  background-size: 100%;
  position: absolute;
  top: 0;
}

.slider-text-left h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  color: #fff;
  margin-bottom: 10px;
}

.slick-slider.slider-main-text {
  right: 0;
  padding-top: 100px;
  width: 100%;
}

.main-sec-slider {
  position: relative;
  display: flex;
  width: 100%;
}

.slider-text-left h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
  color: #fff;
}

.slider-text-left p {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 22px;
}

.see-btn button {
  width: 160px;
  height: 46px;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.see-btn {
  margin-top: 70px;
}

.main-sec-slider ul.slick-dots {
  top: -28px;
  right: 0;
  bottom: auto;
  text-align: right;
}

.main-sec-slider ul.slick-dots li {
  margin: 0px 5px;
  width: unset;
  height: unset;
}

.main-sec-slider ul.slick-dots li button {
  width: 12px;
  height: 12px;
}

.main-sec-slider ul.slick-dots li button:before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.main-sec-slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

.main-sec-slider .slick-dots li button:before {
  background: #ffffff;
  content: '';
  opacity: 0.2;
}

.serach-input input:focus {
  outline: 0;
}

.serach-input .ser-input-box .react-autosuggest__container.react-autosuggest__container--open {
  border-radius: 16px;
}

.ser-input-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.serach-social {
  text-align: right;
  display: flex;
  margin-left: 40px;
}

.serach-social a {
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
  border-radius: 1000px;
  width: 65px;
  height: 65px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.serach-icon {
  position: absolute;
  top: 7px;
  left: 8px;
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -moz-inline-box;
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.serach-logo {
  /* display: flex; */
  align-items: center;
  height: 95px;
  width: 95px;
  /* line-height: 75px; */
}

input.react_autosuggest__input::placeholder {
  font-size: 15px;
  line-height: 17px;
  color: #bebebe;
}

.serach-sec {
  padding: 70px 15px;
}

.share-menu {
  display: flex;
}

.share-menu .share-menu-tabs {
  display: flex;
}

.share-menu-tabs p {
  margin: unset;
}

.artical-head {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  padding-right: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* -webkit-box-shadow: 0 1px 0px #dddddd;
  -moz-box-shadow: 0 1px 0px #dddddd;
  box-shadow: 0 1px 0px #dddddd; */
}

.artical-head-main {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  padding-right: 130px;
  /* padding-top: 20px; */
  padding-bottom: 20px;
  /* position: sticky; */
  top: 0;
  background: #fff;
  z-index: 99;
  /* -webkit-box-shadow: 0 1px 0px #dddddd;
  -moz-box-shadow: 0 1px 0px #dddddd;
  box-shadow: 0px 15px 10px -15px #1111115c; */
  text-transform: capitalize;
}

.rightPanelSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  margin: 10px 0px auto;
}

.rightPanelSec .commentIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPanelSec .commentCounts {
  padding: 0px 5px;
}

.artical-head-main h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 0;
}

.artical-head-main button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  background-color: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.artical-head.active {
  display: -moz-box;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  padding-right: 130px;
  padding-top: unset !important;
  padding-bottom: 20px;
  /* position: sticky; */
  top: 0;
  background: #fff;
  z-index: 99;
  -webkit-box-shadow: 0 1px 0px #dddddd;
  -moz-box-shadow: 0 1px 0px #dddddd;
  box-shadow: 0px 15px 10px -15px #1111115c;
}

.artical-head h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 0;
}

.artical-head button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  background-color: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.sidebar-menu-extra {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
}

.main-sec-slider .slider-text {
  padding: 4px 15px;
}

.main-sec-slider .slick-slide .pro-box {
  overflow: hidden;
}

.artical-slider .main-sec-slider {
  position: static;
  width: auto;
  display: block;
}

.boxshadow-sec {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.boxshadow-sec .sub-text-box {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxshadow-sec .img-box img {
  border-radius: 5px;
  height: 223px;
  object-fit: cover;
}

.boxshadow-sec .img-box,
.boxshadow-sec .sub-text-box {
  /* height: auto !important; */
}

.sub-text-box {
  padding: 30px;
}

.sub-text-box h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 170%;
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
}

.sub-text-box p {
  font-size: 14px;
  line-height: 170%;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
}

.slick-slide .detail-box img {
  width: 36px;
  display: inline-block;
  vertical-align: top;
}

.detail-sub-box {
  display: inline-block;
  padding-left: 10px;
}

.detail-sub-box h4 {
  margin: 0;
  vertical-align: top;
  font-size: 13px;
  line-height: 18px;
  color: #0f730c;
  font-weight: 400;
}

.detail-sub-box p {
  margin-top: 0px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0;
}

/* .detail-box {
  margin-top: 18px;
} */

.artical-slider .img-box {
  position: relative;
}

.artical-slider .bookmark {
  position: absolute;
  top: 18px;
  right: 45px;
  background: rgb(255 255 255 / 10%);
  border-radius: 5px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.artical-slider .bookmark:hover svg {
  fill: #fff;
}

.artical-slider .slick-prev:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);
}

/* .artical-slider .slick-prev:before,
.artical-slider .slick-next:before {
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  border-right: 0;
  border-bottom: 0;
  display: block;
} */
.artical-slider .slick-slide {
  display: block;
  height: inherit;
}

.artical-slider .slick-prev {
  right: 6%;
  left: auto;
}

.artical-slider .slick-next:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}

.artical-slider .main-sec-slider {
  margin: 0px -13px;
}

.artical-slider .slick-prev,
.artical-slider .slick-next {
  width: 46px;
  height: 46px;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 8%);
  border-radius: 50px;
  top: -65px;
  transform: translate(0, 0%);
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.artical-slider .slick-prev {
  right: 6%;
  left: auto;
}

.artical-slider .slick-next {
  right: 15px;
}

.main-sec-slider ul.slick-dots {
  top: -28px;
  right: 0;
  bottom: auto;
  text-align: right;
}

.artical-section {
  margin-bottom: 45px;
}

.footer-menu {
  text-align: right;
  padding: 25px 0px;
  border-top: 1px solid rgb(0 0 0 / 15%);
}

.footer-sec {
  margin-top: 70px;
}

.footer-menu a {
  font-size: 14px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  padding: 0px 10px;
}

.footer-menu .footer-sub-menu {
  margin-left: auto;
}

.footer-menu .footer-sub-menu a {
  font-size: 14px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  padding: 0px 10px;
}

.container {
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
}

.profile-detail .flex-div {
  align-items: center;
}

.profile-sec {
  background-color: #2d3141;
  padding: 40px 0px;
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 120px;
}

.profile-sec:after {
  content: '';
  position: absolute;
  background-position: left;
  background-size: 88%;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.09;
}

.pro-sec {
  position: relative;
  z-index: 2;
}

.profile-img {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  border: 15px solid #fff;
}

.profile-detail {
  margin-bottom: -50px;
  margin-top: 75px;
  position: relative;
  z-index: 5;
}

.profile-cam-icon {
  position: absolute;
  font-size: 36px;
  background-color: transparent;
  left: auto;
  bottom: 15px;
  right: 30px;
}

.img-cir {
  position: relative !important;
}

.profile-text {
  padding-left: 50px;
  margin-top: 0;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
}

.profile-text h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 10px;
}

.profile-text span {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 15px !important;
}

.profile-text p {
  display: contents;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
  /* width: 65%; */
  margin-top: 0;
  line-height: 20px;
}

.profile-text.company-box h1,
.profile-text.company-box span,
.profile-text.company-box p {
  color: #000;
}

.profile-text.company-box {
  margin-bottom: 0;
}

.company-box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.profile-text.company-box p {
  width: 100%;
}

.company-box-title h1,
.company-box-title .follow_unfollow_btn_wrap {
  margin: 0;
  width: auto;
}

.social-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-cs-box {
  display: flex;
  flex-wrap: wrap;
}

.cs-box {
  width: 16.66%;
  padding: 0px 30px;
  box-sizing: border-box;
  text-align: center;
}

.cs-box h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.72px;
  color: #272b3b;
  margin-bottom: 0;
}

.cs-box p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.72px;
  color: #000000;
  margin-top: 0;
}

.company-status-sec {
  margin-bottom: 70px;
}

.sign_modal {
  width: 80%;
  margin: 0 auto;
}

.sign_modal .head {
  text-align: center;
  font-size: 38px;
}

.input-box input {
  height: 40px;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 1px solid #000;
}
.ant-form-vertical .input-box .ant-form-item {
  padding: 0;
}

.input-box {
  margin-bottom: 10px;
  position: relative;
}

.input-box input::placeholder {
  font-size: 15px;
  /* line-height: 16; */
  bottom: 9px;
  position: absolute;
}

.react-responsive-modal-root .react-responsive-modal-modal {
  max-width: 500px;
  width: 100%;
  padding-bottom: 60px;
}

.input-box input:focus {
  outline: 0;
}

.text-log p {
  font-size: 15px;
  text-align: center;
  color: #000;
}

.text-log p a {
  font-weight: 800;
  cursor: pointer;
}

.modal-submit-btn {
  text-align: center;
}

.modal-submit-btn button {
  height: 48px;
  width: 261px;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 19px;
  cursor: pointer;
}

.log-in {
  /* display: none; */
}

.react_autosuggest__suggestions_list {
  list-style: none;
  padding-right: 20px;
  padding-left: 70px;
}

div#react-autowhatever-1 li {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 170%;
  font-weight: 400;
}

div#react-autowhatever-1 {
  margin-top: -10px;
}

.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.artical-slider div.post-box {
  height: auto;
}

.hero-description img {
  width: auto;
  height: auto;
  max-width: 100% !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Basic styling */
.discord-btn-main,
.google-btn-main,
.twitter-btn-main {
  text-align: center;
  padding-top: 14px;
}
.text-log p {
  margin: 0;
}

.discord-login-btn,
.google-login-btn,
.twitter-login-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 261px;
  height: 48px;
  background-color: #7289da;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Discord logo */
/* .discord-login-btn::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
} */

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}

/* .bookmark {
 
  position: absolute;
  top: 18px;
  right: 45px;
  background: rgb(255 255 255 / 10%);
  border-radius: 5px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

} */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .commentMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    /* margin: 25px 15px auto !important; */
  }

  .commentMain > .commentIcon :hover {
    cursor: pointer;
  }

  /* .comment-list{
    margin: 25px 15px auto;
    padding: 30px 0px;
  } */
  /* .ant-drawer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  } */

  .slate-toolbar {
    padding: 15px 0px;
    margin: 0px 0px auto;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1400px) {
  .profile-sec:after {
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .profile-img {
    width: 150px;
    height: 150px;
  }

  .profile-cam-icon {
    right: 10px;
  }
}

@media (max-width: 991px) {
  .slider-text-left h1 br {
    display: none;
  }

  .cs-box {
    width: 33.33%;
  }

  .slider-text-left h1 {
    font-size: 30px;
    line-height: 38px;
  }

  .slider-text-left h4 {
    margin-bottom: 10px;
  }

  .slider-text-left p br {
    display: none;
  }

  .slick-slider.slider-main-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .see-btn {
    margin-top: 50px;
  }

  .artical-slider .slick-prev {
    right: 10%;
  }

  .profile-img {
    width: 150px;
    height: 150px;
    border: 10px solid #fff;
  }

  .profile-text {
    width: 68%;
  }

  .profile-detail {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .social-icons-wrapper {
    justify-content: center;
    width: 95%;
  }

  .social-icons-wrapper .social-icons {
    margin: 0 10px;
  }

  .footer-menu {
    text-align: center;
  }

  .profile-cam-icon {
    right: 5px;
  }

  .cs-box {
    width: 50%;
  }

  .artical-slider .slick-prev {
    right: 12%;
  }

  .artical-slider .slick-prev,
  .artical-slider .slick-next {
    width: 37px;
    height: 37px;
  }

  .artical-slider .slick-prev:before,
  .artical-slider .slick-next:before {
    content: '';
    width: 6px;
    height: 6px;
  }

  .artical-slider .slick-next:before {
    -webkit-transform: rotate(136deg);
    -moz-transform: rotate(136deg);
    transform: rotate(136deg);
  }

  .artical-slider .slick-prev,
  .artical-slider .slick-next {
    top: -55px;
  }

  .profile-text h1 {
    color: #000;
    margin-top: 0;
    font-size: 28px;
    line-height: 32px;
  }

  .profile-text p {
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
  }

  .profile-detail {
    margin-bottom: -180px;
    margin-top: 20px;
  }

  .profile-img {
    width: 140px;
    height: 140px;
    border: 10px solid #fff;
  }

  .profile-sec {
    margin-bottom: 170px;
  }

  .profile-text span:last-child {
    margin: 0;
  }

  .profile-detail .flex-div {
    justify-content: center;
  }

  .profile-text span {
    color: rgba(0, 0, 0, 0.8);
  }

  .profile-text {
    margin: 0;
    width: 100%;
    padding-left: 0px;
    text-align: center;
  }

  .slide-box {
    width: 100%;
  }

  .slider-text-left.slide-box {
    margin-bottom: 30px;
  }

  .serach-sec .flex-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .serach-logo {
    align-items: center;
    margin-bottom: 20px;
  }

  .serach-input {
    padding-left: 0px;
  }

  .serach-social a {
    width: 55px;
    height: 55px;
  }

  .serach-social a svg {
    width: 20px;
  }

  .artical-slider .main-sec-slider {
    margin: 0;
  }

  .main-sec-slider .slider-text {
    padding: 0;
  }

  .slider-text-left h4 {
    margin-bottom: 10px;
  }

  .slider-text-left h1 {
    font-size: 24px;
    line-height: 33px;
  }

  .see-btn {
    margin-top: 40px;
  }

  .slick-slider.slider-main-text {
    padding-bottom: 20px;
  }

  .slider-text-right.slide-box {
    margin-top: 45px;
  }

  .main-sec-slider .slider-text {
    padding: 4px 10px;
  }

  .react-responsive-modal-container {
    height: auto;
    width: 100%;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    position: fixed;
  }

  .sign_modal {
    width: 95%;
  }

  .footer-menu .footer-sub-menu {
    margin-left: unset !important;
  }
}

@media (max-width: 576px) {
  .serach-input {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sign_modal .head {
    font-size: 32px;
  }

  .modal-submit-btn button {
    height: 44px;

    font-size: 14px;
  }

  .react-responsive-modal-root .react-responsive-modal-modal {
    max-width: 100%;
    width: unset;
    /* margin: 0; */
    display: block;
  }

  .modal-submit-btn button {
    width: 100%;
  }

  .cs-box {
    width: 100%;
  }

  .profile-img {
    width: 120px;
    height: 120px;
  }

  .ser-input-box {
    margin-bottom: 20px;
  }

  .profile-detail {
    margin-bottom: -198px;
  }

  .serach-social {
    margin: 0;
  }

  .artical-slider .slick-next {
    right: -15px;
  }

  .artical-slider .slick-prev,
  .artical-slider .slick-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .artical-slider .slick-prev {
    left: -15px;
  }

  .artical-head {
    padding-right: 0;
    padding-top: 0;
  }

  .main-sec-slider .slider-text {
    padding: 4px 4px;
  }

  .artical-head h2 {
    font-size: 20px;
  }
}

/* .ck.ck-editor {
  min-width: 750px !important;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  min-height: 400px !important;
}

.ck-focused {
  min-height: 400px !important;
} */

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    min-height: 200px !important;
  }

  .ck-focused {
    min-height: 200px !important;
  }

  /* .nextTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    right: 0;
    margin: 0px 15% auto;
  }

  .previousTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    left: 0;
    margin: 0px 15% auto;
  } */
}

@media (max-width: 400px) {
  /* .nextTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    right: 0;
    margin: 0px 15% auto;
  }

  .previousTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    left: 0;
    margin: 0px 15% auto;
  } */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .ck.ck-editor {
    min-width: 400px !important;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    min-height: 300px !important;
  }

  .ck-focused {
    min-height: 300px !important;
  }

  /* .nextTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    right: 0;
    margin: 0px 15% auto;
  }

  .previousTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    left: 0;
    margin: 0px 15% auto;
  } */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .ck.ck-editor {
    min-width: 600px !important;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    min-height: 400px !important;
  }

  .ck-focused {
    min-height: 400px !important;
  }

  .hero-description > .media > div > div {
    padding-bottom: unset !important;
    padding-bottom: 50% !important;
  }

  .hero-description > .media > div > div > iframe {
    width: 500px !important;
    height: 315px !important;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  /* .nextTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    right: 0;
    margin: 0px 15% auto;
  }

  .previousTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    left: 0;
    margin: 0px 15% auto;
  } */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .ck.ck-editor {
    min-width: 600px !important;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    min-height: 400px !important;
  }

  .ck-focused {
    min-height: 400px !important;
  }

  .hero-description > .media > div > div {
    padding-bottom: unset !important;
    padding-bottom: 50% !important;
  }

  .hero-description > .media > div > div > iframe {
    width: 500px !important;
    height: 315px !important;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  /* .nextTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    right: 0;
    margin: 0px 15% auto;
  }

  .previousTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    left: 0;
    margin: 0px 15% auto;
  } */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .ck.ck-editor {
    min-width: 600px !important;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    min-height: 400px !important;
  }

  .ck-focused {
    min-height: 400px !important;
  }

  .hero-description > .media > div > div {
    padding-bottom: unset !important;
    padding-bottom: 50% !important;
  }

  .hero-description > .media > div > div > iframe {
    width: 500px !important;
    height: 315px !important;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  /* .nextTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    right: 0;
    margin: 0px 15% auto;
  }

  .previousTab-icon {
    display: flex;
    top: 100%;
    position: absolute;
    left: 0;
    margin: 0px 15% auto;
  } */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .ck.ck-editor {
    min-width: 750px !important;
  }

  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    min-height: 400px !important;
  }

  .ck-focused {
    min-height: 400px !important;
  }

  .hero-description > .media > div > div {
    padding-bottom: unset !important;
    padding-bottom: 50% !important;
  }

  .hero-description > .media > div > div > iframe {
    width: 500px !important;
    height: 315px !important;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .iframely-responsive {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 100%;
  }

  .iframely-responsive > * {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
  }

  /* .nextTab-icon {
    display: none;
    top: 0;
    right: unset !important;
    position: absolute;
    margin: 450px 15px auto;
  }

  .previousTab-icon {
    display: flex;
    top: 0;
    left: unset !important;
    position: absolute;
    margin: 450px 15px auto;
  } */
}

.nextTab-icon > button > svg {
  width: 40px !important;
  height: 60px !important;
}

.top-btn > svg {
  width: 40px !important;
  height: 60px !important;
}

.previousTab-icon > button > svg {
  width: 40px !important;
  height: 60px !important;
}

.lazzy-ssr-image {
  border-style: none;
}

.loadingIndex {
  position: fixed !important;
  z-index: 999 !important;
  overflow: show !important;
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  /* width: 50px !important;
  height: 50px !important; */
}

/* Protected App Block CSS Begin */
._3GnVl {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

._3GnVl,
._37_FJ {
  position: absolute;
}

._37_FJ {
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 5px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  background-color: #fff;
  color: #000;
}

._37_FJ > div {
  padding: 10px;
}

._ovIFV {
  background-color: #000;
  color: #fff;
  font-size: x-large;
}

._1YwH3 {
  align-self: flex-end;
}

._3O418 {
  width: 40px;
  height: 40px;
}

/* Protected App Block CSS End */

._37_FJ > div > input {
  width: 100%;
}

/* .nextTab-icon{
  display: block;
  position: sticky;
  top: 0;
}
.previousTab-icon{
  display: block;
  position: sticky;
  top: 0;
} */

.btn-horizontal-more:active,
.btn-horizontal-more:hover {
  background-color: unset !important;
}

/* Admin Signin Page CSS Start */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background-color: #335ddc;
  border-radius: 8px;
}

body {
  font-family:
    'Open Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue';
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d9edff;
}
.login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}
#login-form {
  flex: 1 0 100%;
  max-width: 480px;
  width: 100%;
  padding: 60px;
}
#login-form p {
  margin-bottom: 30px;
}
#login-form .form-title {
  color: #333333;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
  /* margin-bottom: 0; */
  margin: 50px 10px;
  /* padding: 0 10px 50px; */
}
#login-form .ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}
.ant-form-item-control-input-content {
  text-align: left;
}
#login-form .ant-input-affix-wrapper {
  padding: 12px 15px;
}
#login-form_username {
  height: 48px;
}
#login-form .ant-btn {
  height: 42px;
  letter-spacing: 1px;
  border-radius: 6px;
}
.login-form-button {
  width: 100%;
}
.illustration-wrapper {
  display: flex;
  align-items: flex-end;
  max-width: 800px;
  min-height: 100%;
  background-color: #fffdf2;
}
.illustration-wrapper img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .login-box {
    flex-direction: column;
    box-shadow: none;
  }
  .illustration-wrapper {
    max-width: 100%;
    min-height: auto;
  }
  #login-form {
    max-width: 100%;
  }
}

/* Admin Signin Page CSS End */
